  $font-size-normal: 1rem; //16px
  $font-size-small: 0.75rem; // 12px 
  $font-size-xsmall: 0.625rem; // 10 px
  $font-size-large: 1.25rem; //20px
  $font-size-xlarge: 1.5rem; //24px

  $line-height: 1.5;

  
