// Screen sizes
$screen-xs: 300px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1536px;
$screen-max: 1920px;

// Colors 
$colorBlack: #000000;
$colorWhite : #ffffff;
$colorPrimary: #001F82;
$colorSecondary: #E3334B; 

$borderRadius:0.5rem; //8px





